<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011012681251-rv1j4bi9h1boj2crm9hj380t54bo0ag3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011012681251-rv1j4bi9h1boj2crm9hj380t54bo0ag3</string>
	<key>API_KEY</key>
	<string>AIzaSyCawrcN20HvkA5eRDikPvADc3Ua_Cd5S9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1011012681251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-webrtc</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-webrtc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011012681251:ios:201ffb97ee0ec8bd25bb96</string>
</dict>
</plist>